.real-estate-objects-filter__wrapper {
  font-family: 'Raleway', Arial, "Times New Roman", "Bitstream Charter", Times, serif;
  max-width: 800px;
  margin: 30px;
}

.real-estate-objects-filter__wrapper .notification {
  padding: 20px;
  text-align: center;
  background: #0a875a;
  color: white;
  border-radius: 5px;
}

.real-estate-objects-filter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
  background: #80808021;
  margin-bottom: 30px;
}

.real-estate-objects-filter__form h2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.real-estate-objects-filter__form label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 20px;
}

.real-estate-objects-filter__form fieldset {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.real-estate-objects-filter__form fieldset legend {
  padding: 0 10px;
}

.real-estate-objects-filter__form fieldset label {
  margin-right: 20px;
}

.real-estate-objects-filter__form fieldset label:last-child {
  margin-right: 0;
}

.real-estate-objects-filter__form fieldset input {
  display: inline-block;
  width: auto;
  height: auto;
  margin-right: 5px;
}

.real-estate-objects-filter__form button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  max-width: 100px;
}

.real-estate-objects-filter__form button:hover {
  cursor: pointer;
}

.real-estate-objects-filter__form input,
.real-estate-objects-filter__form select {
  display: block;
  width: 200px;
  height: 30px;
}

.real-estate-objects-filter__results .real-estate__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.real-estate-objects-filter__results .real-estate__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 5px);
          flex: 0 0 calc(50% - 5px);
  max-width: calc(50% - 5px);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.18);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  padding: 20px;
}

.real-estate-objects-filter__results .real-estate__item p {
  margin-bottom: 0;
}

.real-estate-objects-filter__results .real-estate__item p,
.real-estate-objects-filter__results .real-estate__item a {
  font-size: 14px;
}

.real-estate-objects-filter__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

.real-estate-objects-filter__pagination .pagination-item {
  width: 20px;
  height: 20px;
  border: 1px solid #0000004f;
  border-radius: 5px;
  line-height: 20px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 0;
}

.real-estate-objects-filter__pagination .pagination-item:hover,
.real-estate-objects-filter__pagination .pagination-item--active {
  color: white;
  background-color: blue;
}

.real-estate-objects-filter__pagination .pagination-item:hover {
  cursor: pointer;
}