.school-price-calculator {
  &--blue {
    button {
      color: $blue_form_button_text_color;
      border-color: $blue_form_button_border_color;
    }

    .school-price-calculator {
      &__form {
        background-color: $blue_form_background_color;

        color: $blue_form_text_color;
      }
    }
  }
}