$blue_form_background_color: #225487;
$blue_form_text_color: white;

$field_text_color: #131313;
$field_background_color: white;
$field_border_color: #B1B7BA;

$blue_form_button_border_color: white;
$blue_form_button_text_color: white;

$button_background_color: #216A99;
$button_border_color: #085564FF;

$error_background_color: #f8d7da;
$error_text_color: #721c24;

$error_color: #FF97A6;

$per_month_text_color: #dc849d;